doctype html 
html(lang="eng")
    head 
        meta(charset="UTF-8")
        title Movie List 
        link(rel="stylesheet", href="/style.css")
    body 
        h1 Movie List from Pug template 🐶
        p look mom, no tags
        table
            thead 
                tr 
                    th Id
                    th Title
                    th Year
                    th 
                    th 
            tbody 
                - for(let movie of movies)
                    tr
                        td #{movie.id}
                        td #{movie.title}
                        td #{movie.year}
                        td
                            a(href="/movie/delete/" + movie.id) DELETE 
                        td
                            a(href="/movie/form/" + movie.id) UPDATE 
        a(href="/movie/form") Add Movie